<header class="p-4 bg-dark text-white">
 <div class="container d-flex justify-content-sm-between">
    <ul class="nav d-flex justify-content-sm-between">
        <li class="px-2"><a href="/">Home</a></li>
        <li class="px-2"><a href="/about">About</a></li>
        <li class="px-2"><a href="/article">Articles</a></li>
    </ul>
    <ul class="nav d-flex justify-content-lg-between">
        <li class="px-2">Login</li>
        <li class="px-2">SignUp</li>
    </ul>
 </div>
</header>