<%- include('../partials/head') %>
<%- include('../partials/header') %>

<h1>About Me</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo consequuntur modi voluptates cum ipsum consequatur, eaque dolorum itaque excepturi quisquam aliquid eum, odio totam soluta? Expedita neque qui soluta.</p>

<%- include('../partials/footer') %>